@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic:wght@400..700&display=swap');

:root {

    --logo-icones-principais-botoes-importantes: #0A66C2;

    --fundoLimpos-espacoNegatura-leituraDeTexto: #FFFFFF;

    --texto-iconesAlternativos-graficosMonocromáticos: #000000;

    --PlanosDeFundo-estadosDeHover-variacoesCromaticas: #CFEDFB;
    --card-sombras: 0 1px 3px rgba(0,0,0,0.06);
    --fundo: #00000010;
    --font: 'Mulish', sans-serif; 
    --font-logo: 'Poppins', sans-serif; 

}

* { 
    margin: 0;
    padding: 0;
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
}

main {
    display: grid;
    grid-template-columns: 1fr 80%;

}

label, h1, h2, td, nav a {
    text-transform: capitalize;
}

/* Botões */
a.ver-pdf, a.baixar-pdf, a.edit, a.delete {
    background-color: red;
    color: #fff;
    text-align: center;
    width: 125px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    padding: 5px 0;
    border-radius: 10px;
}

a.edit, a.delete {
    width: auto;
    border-radius: 5px;
    padding: 5px;
}
a.baixar-pdf, a.edit {
    background-color: green;
}
/*Mensagens de erro e sucesso */
p.erro {
    background-color: red;
}

p.sucesso {
    background-color: green;
}

p.sucesso, p.erro {
    text-align: center;
    font-weight: bold;
    color: #ffff;
    padding: 10px;
}
#conteudo-container {
    height: 80%;
    margin: 0 50px 33px 50px;
}

section#sidebar {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    gap: 10px;
    position: sticky;
    top: 0;
    height: fit-content;
    
}

/* Menu Lateral */
#sidebar {
    nav {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        height: 85vh;
        
        ul {
            list-style-type: none;
            padding-top: 50px;
            li {
                margin-bottom: 10px;
                a {
                    background-color: var(--logo-icones-principais-botoes-importantes);
                    padding: 10px;
                    border-radius: 10px;
                    text-align: center;
                    color: #fff;
                    font-weight: 500;
                    text-decoration: none;
                    width: 100%;
                    display: inline-block;
                    display: flex;
                    justify-content: space-between;
                }
                a:active {
                    transform: scale(.98);
                }
            }
        }

        .logout {
            text-align: center;
            a {
                font-weight: bold;
                color: var(--logo-icones-principais-botoes-importantes);
                text-decoration: none;
                font-size: 30px;
            }
        }
    }
}
#sidebar {
    h1 {
        text-align: center;
        color: var(--logo-icones-principais-botoes-importantes);
        font-weight: bolder;
        font-family: var(--font-logo);
        font-size: 2.7em;
    }
}

#principal {
    background-color: var(--fundo);
    padding: 20px 0 0 0;
    min-height: 100vh;
    h1 {
        span {
            font-weight: bolder;
            font-variant: small-caps;
            color: var(--logo-icones-principais-botoes-importantes);
        }
    }
    
    footer {
        background-color: var(--logo-icones-principais-botoes-importantes);
        width: 100%;
        padding: 20px 0;
        p {
            text-align: center;
            color: #fff;
            font-weight: bold;
        }
    }

   
}

#form-search {
    a {
        color: var(--logo-icones-principais-botoes-importantes);
        padding-top: 10px;
        display: inline-block;
        i {
            font-size: 20px;
            color: var(--cor-destaque);
        }
    }
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;

}
/*** Categoria e Home */
.pesquisa, header input {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 220px;
}
.pesquisa:focus-within, header input:focus-within {outline: 1px solid var(--logo-icones-principais-botoes-importantes);}

#relatorios-container, header {
    margin: auto;
}

#relatorios-container {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 20px 0;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: var(--card-sombras);
    .relatorio {
        padding: 10px;
        flex-basis: 31%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-right: 2px solid var(--logo-icones-principais-botoes-importantes);

        .info-container {
            h3 {
                color: var(--cor-destaque);
                font-size: 26px;
            }
            span {
                color: rgba(0, 0, 0, 0.524);
                font-weight: bold;
            }
        }
        
    }
    .relatorio:last-child {border-right: none;}
}

#form-delete {
    display: inline;
    .btn-delete {
        background-color: red;
        border: none;
        padding: 5px;
        border-radius: 5px;

        i {     
            color: #ffff;
        }
    }
    .btn-delete:hover {cursor: pointer;}
}

/**** ESTILOS PARA OS PRODUTOS RESOURCES */
#create-container {
    background-color: #ffff;
    width: 100%;
    margin: auto;
    margin-top: 70px;
    box-shadow: var(--card-sombras);
    padding: 15px;
    border-radius: 20px;
    h2 {
        padding: 20px 0;
    }
    h1 {
    padding: 10px 0;
    color: var(--cor-destaque);
    }
}

/** CREATE PRODUTOS */

#produtos-data {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;    
    gap: 15px;
    
    #categoria-container, #frete-container {
        flex: 0 1 100%;
    }
    .form-group {
        display: flex;
        flex-flow: column nowrap;
        gap: 8px;
       /*  border: 2px solid black; */
        flex: 1 1 400px;
        label {
            font-weight: bold;
        }
        input, select {
            padding: 10px;
            width: 100%;
            border-radius: 10px;
            outline: 1px solid rgba(0, 0, 0, 0.457);
            border: none;
        }
        input::placeholder {font-size: 16px;}
        input:focus-within {outline: 1.5px solid var(--logo-icones-principais-botoes-importantes);}
    }
}

#estoque-data {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;    
    gap: 25px;
    margin-bottom: 15px;
    .form-group {
        flex: 40%;
        display: flex;
        flex-flow: column nowrap;
        gap: 8px;
        label {
            font-weight: bold;
        }
        input {
            padding: 10px;
            width: 100%;
            border-radius: 10px;
            outline: 1px solid rgba(0, 0, 0, 0.457);
            border: none;

        }
        input::placeholder {font-size: 16px;}
        input:focus-within {outline: 1.5px solid var(--logo-icones-principais-botoes-importantes);}
    }
}

.form-submit, .form-submit-vendas {
    display: flex;
    justify-content: flex-end;
    button {
        background-color: var(--logo-icones-principais-botoes-importantes);
        color: #ffff;
        font-weight: 400;
        width: 140px;
        border: none;
        padding: 8px;
        border-radius: 10px;
    }

    button:active {
        transform: scale(.98);
    }

    button:hover {
        cursor: pointer;
    }
}

/** INDEX */
.tabela {
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    background-color: #ffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--card-sombras);
    #table-extras {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        form {
            input {
                padding: 10px;
                border-radius: 10px;
                outline: none;
                border: 1px solid rgba(0, 0, 0, 0.33);
                width: 220px;
            }
        }

    }
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        margin-bottom: 10px;
        thead {
            tr {
                th {
                    border-bottom: 1px solid #00000036;
                    padding: 6px;
                }
            }
        }
        tbody {
            tr {
                td {
                    border-bottom: 1px solid #00000036;
                    padding: 6px;
                }
            }
        }
    }
    nav {
        div:last-child {
            span {
                svg {
                    display: none;
                }
            }
        }
    }
}

/** VENDAS */
#vendas-container {
    background-color: #ffff;
    max-width: 1000px;
    box-shadow: var(--card-sombras);
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    margin-top:  50px;
    textarea {
        padding: 5px;
        border-radius: 10px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.33);
    }
    h1 {
        padding: 10px 0;
        color: var(--cor-destaque);
    }
    .form-submit-vendas {
        padding-top: 10px;
    }
} 
/** Criar categorias */
#categorias-container {
    width: 95%;
    margin: auto;
    h2 {
        margin-bottom: 20px;
        font-size: 2em;
    }
    #categorias-menu {
        padding: 30px 12px 30px 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            text-decoration: none;
            color: #fff;
            background-color: var(--logo-icones-principais-botoes-importantes);
            padding: 5px;
            border-radius: 5px;
            font-weight: bold;
        }
    }
    #categorias-index {
        display: flex;
        gap: 25px;
        flex-flow: row wrap;
        .categoria {
            background-color: #fff;
            flex: 0 1 31.3333%;
            padding: 5px 10px;
            border-radius: 10px;
            box-shadow: var(--card-sombras);
            text-decoration: none;
            color: black;
            height: 155px;
            .categoria-info {
                padding: 20px 0;
                .categoria-icon {
                    background-color: var(--logo-icones-principais-botoes-importantes);
                    color: #fff;
                    border-radius: 5px;
                    padding: 3px;
                }
                p {
                    padding-top: 8px;
                    color: #00000089;
                }
            }

            .barra {
                height: 2px;
                background-color: #0d0d0d35;
            }
            .categoria-details {
                padding: 5px 0;
            }
        }
        .categoria:active {transform: scale(.98);}
    }
}

/** Create categoria*/
#categorias-create {
    background-color: #ffff;
    width: 100%;
    margin: 0 auto;
    box-shadow: var(--card-sombras);
    padding: 15px;
    border-radius: 20px;
    form {
        padding: 20px 0;
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        .form-categoria {
            flex: 1;
        }
        .form-categoria-desc {
            flex: 0 1 100%;
/** 

            outline: 1px solid rgba(0, 0, 0, 0.457);
            border: none;

        }
        input::placeholder {font-size: 16px;}
        input:focus-within {outline: 1.5px solid var(--logo-icones-principais-botoes-importantes);}
    }


*/
        }
        .form-categoria-desc, .form-categoria {
            display: flex;
            flex-flow: column nowrap;
            gap: 5px;
            .input-file {border: 1px solid black;}
            label {font-weight: bold;}
            input, textarea, input[type=file] {
                padding: 10px;
                width: 100%;
                outline: 1px solid rgba(0, 0, 0, 0.457);
                border: none;
                border-radius: 10px;
    
            }
            input[type=file]{padding: 8px;}
            input::placeholder {font-size: 16px;}
            input:focus-within, textarea:focus-within, input[type=file]:focus-within {outline: 1.5px solid var(--logo-icones-principais-botoes-importantes);}
        
        }
        button[type=submit] {
            width: 100%;
            background-color: var(--logo-icones-principais-botoes-importantes);
            color: #ffff;
            font-weight: 400;
            border: none;
            padding: 8px;
            border-radius: 10px;
        }
        button[type=submit]:hover {cursor: pointer;}
        button[type=submit]:active {transform: scale(.99);}
    }
}

