@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-principal: #0D3973;
    --cor-botoes: #049DBF;
    --footer: #0D0D0D;
    --cor-destaque: #038C7F;
    --font: 'Mulish', sans-serif; 
}

* { 
    margin: 0;
    padding: 0;
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 80%;

}
#conteudo-container {
    height: 80%;
    margin: 50px;
}
#sidebar {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    gap: 10px;
}

#sidebar h1 {
    text-align: center;
}
/* Menu Lateral */
#sidebar {
    nav {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        height: 90%;
        ul {
            list-style-type: none;
            padding-top: 50px;
            li {
                margin-bottom: 10px;
                a {
                    background-color: var(--cor-botoes);
                    padding: 10px;
                    border-radius: 10px;
                    text-align: center;
                    color: #fff;
                    font-weight: 500;
                    text-decoration: none;
                    width: 100%;
                    display: inline-block;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        .logout {
            text-align: center;
            a {
                font-weight: bold;
                color: var(--cor-botoes);
                text-decoration: none;
                font-size: 30px;
            }
        }
    }
}
#sidebar {
    h1 {
        text-align: center;
        color: #038C7F;
        font-weight: bolder;
        font-variant: small-caps;
    }
}

#principal {
    background-color: #049dbf11;
    padding-top: 20px;
    position: relative;
    min-height: 100vh;
    position: relative;
    h1 {
        span {
            font-weight: bolder;
            font-variant: small-caps;
            color: #038C7F;
        }
    }
    
    footer {
        position: absolute;
        bottom: 0;
        background-color: #049dbf80;
        width: 100%;
        padding: 15px 0;
        p {
            text-align: center;
            color: #fff;
            font-weight: bold;
        }
    }

   
}

#form-search {
    a {
        color: #000000;
        padding-top: 10px;
        display: inline-block;
        i {
            font-size: 20px;
            color: var(--cor-destaque);
        }
    }
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    input {
        padding: 10px;
        border-radius: 10px;
        outline: none;
        border: none;
        width: 220px;
    }
    input:focus-within {
        outline: 1px solid rgba(0, 0, 0, 0.568);
    }
}

#relatorios-container, header {
    margin: auto;
}

#relatorios-container {
    max-width: 1000px;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    padding: 20px 0;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.196);
    .relatorio {
        padding: 10px;
        flex-basis: 31%;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        border: 2px solid var(--cor-destaque);
        .image-container {
            aspect-ratio: 1/1;
            object-fit: cover;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            border-radius: 50%;
            img {
                max-width: 40px;
            }

        }
        .info-container {
            h3 {
                color: var(--cor-destaque);
                font-size: 26px;
            }
            span {
                color: rgba(0, 0, 0, 0.524);
                font-weight: bold;
            }
        }

        .relatorio:hover {
            background-color: var(--cor-destaque);
            color: #ffff;
        }
    }
}

/**** ESTILOS PARA OS PRODUTOS RESOURCES */
#create-container {
    background-color: #ffff;
    width: 100%;
    margin: 0 auto;
    box-shadow: 1px 1px 15px #0000001f;
    padding: 20px;
    border-radius: 20px;
    h2 {
        padding: 20px 0;
    }
    h1 {
    padding: 10px 0;
    color: var(--cor-destaque);
    }
}

/** CREATE */

#produtos-data {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;    
    gap: 15px;
    
    #categoria-container, #frete-container {
        flex: 0 1 100%;
    }
    .form-group {
        display: flex;
        flex-flow: column nowrap;
        gap: 8px;
       /*  border: 2px solid black; */
        flex: 1 1 400px;
        label {
            font-weight: bold;
        }
        input, select {
            padding: 10px;
            width: 100%;
            border-radius: 10px;
            border-color: rgba(0, 0, 0, 0.457);
        }
        input::placeholder {font-size: 16px;}
    }
}

#estoque-data {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;    
    gap: 25px;
    margin-bottom: 15px;
    .form-group {
        flex: 40%;
        display: flex;
        flex-flow: column nowrap;
        gap: 8px;
        label {
            font-weight: bold;
        }
        input {
            padding: 10px;
            width: 100%;
            border-radius: 10px;
            border-color: rgba(0, 0, 0, 0.457);

        }
        input::placeholder {font-size: 16px;}
    }
}

.form-submit, .form-submit-vendas {
    display: flex;
    justify-content: flex-end;
    button {
        background-color: var(--cor-botoes);
        color: #ffff;
        font-weight: 400;
        width: 140px;
        border: none;
        padding: 8px;
        border-radius: 10px;
    }

    button:hover {
        cursor: pointer;
    }
}

/** INDEX */
.tabela {
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    background-color: #ffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.123);
    #table-extras {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        form {
            input {
                padding: 10px;
                border-radius: 10px;
                outline: none;
                border: 1px solid rgba(0, 0, 0, 0.33);
                width: 220px;
            }
        }

    }
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        margin-bottom: 10px;
        thead {
            tr {
                th {
                    border-bottom: 1px solid #00000036;
                    padding: 6px;
                }
            }
        }
        tbody {
            tr {
                td {
                    border-bottom: 1px solid #00000036;
                    padding: 6px;
                }
            }
        }
    }
    nav {
        div:last-child {
            span {
                svg {
                    display: none;
                }
            }
        }
    }
}

/** VENDAS */
#vendas-container {
    background-color: #ffff;
    width: 100%;
    margin: 0 auto;
    box-shadow: 1px 1px 15px #0000001f;
    padding: 20px;
    border-radius: 20px;
    textarea {
        padding: 5px;
        border-radius: 10px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.33);
    }
    h1 {
        padding: 10px 0;
        color: var(--cor-destaque);
    }
    .form-submit-vendas {
        padding-top: 10px;
    }
} 
footer {
    position: absolute;
    bottom: 0;
}
